[Unit]
Description=Worker
After=network.target

[Service]
Type=simple
CPUQuota=30%
ExecStart=/usr/bin/worker
Restart=always
[Install]
WantedBy=multi-user.target